/*Importando a fonte*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*Declaração de variáveis*/

:root {
    /*Cores*/
    --color-dark: #002440;
    --color-primary: #0073CE;
    --color-secondary: #00A5F0;
    --color-secondary-opacity:#00a4f023;
    --color-tertiary: #00D7D7;
    --color-compound: #FFC800;
    --color-compound-hover: #e6b400;
    --color-gradient: linear-gradient(99deg, #00A5F0 7.94%, #00D7D7 95.32%);
    --color-gray-700: #7B7B7B;
    --color-gray-600: #33303E;
    --color-gray-500: #4E4B59;
    --color-gray-400: #5F5C6B;
    --color-gray-300: #7A7786;
    --color-gray-200: #C6C5CE;
    --color-gray-100: #F1F0F5;
    --color-white: #ffffff;
}

* {
    padding: 0;
    margin: 0;
}


/*Títulos e texto*/
h1, h2, h3, h4, .paragraph1, .paragraph2, .paragraph3 {
    color: var(--color-gray-500);
    font-style: normal;
}

h1 {
    font-size: 64px;
    font-weight: 600;
}

h2 {
    font-size: 36px;
    font-weight: 700;
}

h3 {
    font-size: 24px;
    font-weight: 500;
}

h4 {
    font-size: 20px;
    font-weight: 500;
}

.paragraph1, .paragraph2, .paragraph3 {
    font-weight: 400;
}

.paragraph1 {
    font-size: 18px;
}

.paragraph2 {
    font-size: 16px;
}

.paragraph3 {
    font-size: 14px;
}

/*Denifição de estilos globais*/
* {
    font-family: 'Poppins', sans-serif;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 12px
}

.label {
    color: var(--color-gray-700);
    font-size: 20px;
    font-weight: 400;
}

input {
    width: 360px;
    height: 40px;
    flex-shrink: 0; 
    border-radius: 5px;
    border: 3px solid #D9D9D9;
    background: #FFF;
}

.content {
    background-color: var(--color-white);
}

.estrutura{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button {
    cursor: pointer;
    width: 200px;
    height: 42px;
    padding: 4px;
    border:none;
    border-radius: 5px;
    background: var(--color-compound);
    color: var(--color-white);
    font-size: 18px;
    font-weight: 600;
   
}

.button:hover {
    transition: .3s;
    background-color: var(--color-compound-hover);
}

@media screen and (max-width: 560px) {
    .button {
        width: 142px;
        height: 28px;
        font-size: 14px;
        font-weight: 500;
    }   
}


/*Navabar*/

nav {
    background-color: var(--color-secondary);
    height: 94px;
    padding: 0 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-white);
}


li {
    color: var( --color-white);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
 }


.info{
  display: flex;
  align-items: center;
  gap:8px
}

.nav-list {
    list-style: none;
    display: flex;
    gap:12px;
  }
  
  .nav-list li {
    margin-right: 20px;
  }
  
  .nav-list a {
    text-decoration: none;
    color: var( --color-white);
    font-size: 20px;
    font-weight: 400;
   }

   h3{
    color: var( --color-white);
    font-weight: 700;
   }
  
  .burger-menu {
    color: var(--color-white);
    font-size: 2.25rem;
    cursor: pointer;
    display: none;
  }
  
  .content {
    padding: 20px;
  }
  


/*Primeira seção*/
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 86px 68px;

}

.message{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 56px;
    height: 270px;
    max-width: 2000px;
    width: 100%;
    border-radius: 12px;
    background: linear-gradient(90deg, #00A5F0 1.25%, #00D7D7 100%);
}

h2 {
    color: var(--color-white);
    padding: 0 90px;    
    text-align: center;
}

/*Segunda seção*/
.filters {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 68px 86px 68px;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 80px;
    border-radius: 8px;
    border: 2px solid var(--color-primary);
    background: rgba(0, 115, 206, 0.10);
}

.group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.icon-img{
    cursor: pointer;
    width: 72px;
    height: 48px;
}

.text {
    color: var(--color-gray-700);
    font-size: 16px;
    font-weight: 500;}

/*Terceira seção*/

.grupo{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cards{
    padding: 0 68px 86px 68px;
}

.button-login {
    width: 200px;
    height: 42px;
    border:none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    background: var(--color-compound);
    color: var(--color-white)
}

.title{
    color: var(--color-dark);
    font-size: 24px;
    font-weight: 700;    
    margin-bottom: 36px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 328px;
    border-radius: 8px;
    padding: 16px 16px 20px 16px;
    background: var(--color-white);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.20), -2px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.heart{
    display: flex;
    justify-content: flex-end;
}

.coracao {
    cursor: pointer
}

.remedio { 
    margin-bottom: 32px;
}

.preco {
    color: var(--color-dark);
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 12px;
}

.nome {
    color: var(--color-primary);
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 12px;
}

a {
    color: #fff;
    text-decoration: none;
}

/*Responsividade*/
@media screen and (max-width: 1024px){
    h2 {
        font-size: 28px;
        padding: 0 42px;         
    }
    .grupo {        
        gap: 30px;
    }
}

@media screen and (max-width: 768px){
    .content{
        padding: 86px 32px;
    }

    .filters, .cards{
        padding:  0 32px 86px 32px;
    }

    .message {
        height: 160px;
        gap: 32px;
    }
    
    h2 {
        font-size: 20px;
        padding: 0 18px;     
    }
}

@media screen and (max-width:560px) {
    .grupo {
        justify-content: center;
    }
    
    .card {
        width: 300px;
        height: 424px;
    }
}

@media screen and (max-width: 480px){
    h2 {
        font-size: 18px;   
    }

    .button {
        width: 120px;
    }
}


/*Footer*/

footer {
    color: var(--color-white);
    background-color: var(--color-secondary);
    height: 94px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
h4 {
    color: var(--color-white);
}